<table class="table">
  <thead class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>

    <% @friends.each do |friend| %>
      <tr>
        <td>
        <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<%= link_to 'New Contact', new_friend_path, class:"btn btn-secondary" %>
<br>
