<p>Hello, Manager <%= @resource.email %>!</p>

<p>Everyone forgets things from time to time, even managers. You can your password through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, dont hate us, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
