<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
    <title>Staffing Email Template</title>
  </head>

  <body>
  <div id="staffs">
    json.array! @staffs, partial: "staffs/staff", as: :staff
    <% @staffs.each do |staff| %>
    <ol>
      <li>
        <%= staff.employee_name %>
      </li>
      <li>
        <%= staff.string %>
      </li>
    </ol>
  <% end %>
    </div>
  </body>
</html>
